 
  .level1 td{ 
    width: 60px;   
    height:60px; 
    border: 1px solid;
    background-color: rgb(67, 171, 231);
    border-color: transparent;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    position: relative; 
  } 
  .level1  img{ 
    width: 60px;  
    height:60px;   
    border-color: transparent;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    position: relative;
    pointer-events: none;
  }
  @media only screen and (max-width: 500px) {
      .level1 td{ 
        width: 38px;   
        height:38px;
      }
      .level1 img{ 
        width: 38px;   
        height:38px;
      }
  }
  .level1 td:hover{  
    background-color: rgb(93, 185, 238);
  }
  .level1 .selected{ 
    border-color: rgb(248, 120, 0);  
  }
  .level1 .blank ,.level1 .blank:hover {
    background-color: transparent;
    cursor: default; 

  }
  .level1 .blank img{
    display: none;
    
  }  

 
  .level1 .line:before, .level1 .line:after{
    content: '';
    display: block;
    position: absolute;
    background-color: rgb(248, 120, 0);
    z-index:1;
  }
  .level1 .line.line-l:before, .level1 .line.line-r:before{
    width: calc(50% + 4px);
    height: 4px;
    top: 50%;
    right: 50%;
    margin-top: -2px;
  }
  .level1 .line.line-t:after, .level1 .line.line-b:after{
    width: 4px;
    height: calc(50% + 4px);
    left: 50%;
    bottom: 50%;
    margin-left: -2px;
  }
  .level1 .line.line-r:before{
    right: -4px;
  }
  .level1 .line.line-l.line-r:before{
    width: calc(100% + 8px);
    left: -4px;
    right: -4px;
  }
  .level1 .line.line-b:after{
    bottom: -4px;
  }
  .level1 .line.line-t.line-b:after{
    height: calc(100% + 8px);
    top: -4px;
    bottom: -4px;
  }
  .level1 .line.line-start.line-l:before, .level1 .line.line-start.line-r:before, .level1 .line.line-end.line-l:before, .level1 .line.line-end.line-r:before{
    width: calc(20% + 4px);
    right: 80%;
  }
  .level1 .line.line-start.line-r:before, .level1 .line.line-end.line-r:before{
    left: 80%;
  }
  .level1 .line.line-start.line-l:after, .level1 .line.line-start.line-r:after, .level1 .line.line-end.line-l:after, .level1 .line.line-end.line-r:after{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    right: 80%;
    top: 50%;
    margin-top: -5px;
    margin-right: -5px;
  }
  .level1 .line.line-start.line-r:after, .level1 .line.line-end.line-r:after{
    margin-left: -5px;
    left: 80%;
  }
  .level1 .line.line-start.line-t:after, .level1 .line.line-start.line-b:after, .level1 .line.line-end.line-t:after, .level1 .line.line-end.line-b:after{
    height: calc(20% + 4px);
    bottom: 80%;
  }
  .level1 .line.line-start.line-b:after, .level1 .line.line-end.line-b:after{
    top: 80%;
  }
  .level1 .line.line-start.line-t:before, .level1 .line.line-start.line-b:before, .level1 .line.line-end.line-t:before, .level1 .line.line-end.line-b:before{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: 80%;
    left: 50%;
    margin-left: -5px;
    margin-bottom: -5px;
  }
  .level1 .line.line-start.line-b:before, .level1 .line.line-end.line-b:before{
    margin-top: -5px;
    top: 80%;
  }